---
// src/pages/signup-extra.astro
import SignupExtra from '../components/SignupExtra.jsx';
import '../styles/global.css';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Completa tu perfil</title>
  </head>
  <body class="bg-gray-100">
    <div class="p-8">
      <SignupExtra client:only="react" />
    </div>
  </body>
</html>
