---
// src/layouts/AuthLayout.astro
const { title = "PandaLift", description = "" } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon_panda.png" />
  </head>
  <body class="font-sans bg-[#0b1120] text-white min-h-screen antialiased flex items-center justify-center relative">
    <slot />
  </body>
</html>
